---
import BaseHead from '@/components/BaseHead.astro';
import { Footer } from '@/components/blocks/footer';
import Navbar from '@/components/blocks/Navbar.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  ogType?: 'website' | 'article';
  noindex?: boolean;
}

const { title, description, image, ogType, noindex } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} image={image} ogType={ogType} noindex={noindex} />
        <ClientRouter />
    </head>
    <body>
        <Navbar pathname={Astro.url.pathname} />
        <main>
          <slot />
        </main>
        <Footer />
    </body>
</html>
